@import 'shelter-zone-ui/dist/style.css';

.code-area {
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
    transition: ease-in-out .3s;
}

.show-code-btn {
    user-select: none;
    cursor: pointer;
}